.speed-indicator {
    font-size: 12px;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    padding: 8px 12px;
    border-top: 1px solid var(--color-border);
}

.speed-indicator span {
    display: inline-flex;
    gap: 3px;
    align-items: center;
    width: 100%;
}

.speed-indicator span button {
    margin-left: auto;
}
